@import '../../../public/CSS/globalVariables.scss';


.reports-table{
    font-size: 2rem;
    border-spacing: 1rem 1rem;
    border-spacing: 1rem;
    border: 0.2rem solid $textcolor;
    border-radius: 0.9rem;

}
